/* TODO */
body{
    text-align: center;
    margin-top: 100px;
    font-family: Arial, Helvetica, sans-serif;
}
button{
    background-color: #ff80c0;
    color: white;
    border: 4px solid #ff80c0;
    border-radius: 30px;
    padding: 15pxx 40px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3 ease;
    padding: 20px;
}
button:hover{
    background-color: #8e387b;
    border-color: #8e387b;
}