body {
    background: gray;
    font-family: sans-serif;
    p{
        border: none;
        border-radius: 12px;
    }
    div{
        background-color: white;
        border-radius: 20px;
        margin:30px 100px ;
        padding: 20px;
    }
    button {
        border: none;
        padding: 10px 5px;
        border-radius: 20px;
    }
}